.background {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  justify-content: center;
}

.background h1 {
  padding: 6rem 0;
  font-size: 3rem /* 48px */;
  line-height: 1;
  font-weight: 700;
}
