.background {
  display: flex;
  overflow-y: auto;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 50;
  justify-content: center;
  align-items: center;
  background-color: #00000083;
  height: 100vh;
}
.modal {
  position: relative;
  padding: 0 1rem;
  width: 100%;
  max-width: 42rem;
  background-color: white;
  border-radius: 0.75rem;
}

.bernard {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1.25rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-width: 1px;
  border-color: rgb(75 85 99);
}

.title {
  font-size: 1.5rem /* 20px */;
  line-height: 2rem /* 28px */;
  font-weight: 600;
  color: black;
}

.close_button {
  display: inline-flex;
  padding: 0.375rem;
  background-color: transparent;
  color: #9ca3af;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: inline-flex;
  align-items: center;
  border-radius: 0.5rem;
}

.status_text {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  display: flex;
}

.form_container {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.form_title {
  font-weight: 700;
}

.form {
  display: flex;
  background-color: #ffffff;
  display: flex;
  width: 12rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.form_input {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #374151;
  font-size: 0.875rem;
  line-height: 1.25rem;
  line-height: 1.25;
  width: 12rem;
  height: 3rem;
  border-width: 1px;
  appearance: none;
}

.form_dropdown {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
}

.form_button {
  @apply bg-main;
  padding-left: 3rem;
  padding-right: 3rem;
  color: #ffffff;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.button_container {
  @apply border-main;
  display: flex;
  padding: 1.5rem;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-top-width: 1px;
}
.action_button {
  @apply text-white bg-main hover:bg-main-dark;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  text-align: center;
  border-radius: 0.5rem;
}
.close_button {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #ffffff;
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: #e5e7eb;
  margin-left: 1rem;
}

.close_button:hover{
  background-color: #374151;
  color: white
}


