/* .background {
  position: relative;
  margin: 100px -100px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #f8f8f8;
  transform: rotate(3deg);
  z-index: -1;
}
.content {
  display: flex;
  justify-content: center;
  transform: rotate(-3deg);
} */
