.container {
  width: 700px;
 
  border-radius: 25px;
  color: #333333;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin: 3rem auto;
}

.header {
  background: url("/affiliate/affiliate-form-bg.png");
  background-size: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color: white;
  text-align: center;
  padding-bottom: 1rem;
}
.title {
  font-size: 60px;
  font-weight: 700;
}

.form_group {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.form_control {
  margin-left: 1rem;
  width: 400px;
  outline: none;
  border: none;
  border-bottom: 1px solid #333333
}


.label{  
  display: flex;
  align-items: center;
  width: 106px;
  
}

.form_item{
  display: flex;
  margin: 1rem 0;
}

.btn{
 @apply bg-main;
 padding:0.5rem 1rem;
 color: white
}